<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <title>My first Vue app</title>
</head>

<body>
   
   <div id='app' :title="hover" class="container">
      <div class="row">
         <div class="col-sm">
            {{ message }}
            <ul v-if="showCars">
               <li v-for="(mobj, index) in car">
                  {{ ++index }}
                  Marke: {{ mobj.mycar }} 
                  Model: {{ mobj.myModel }}
                  Top Speed: {{ mobj.maxSpeed }}
               </li>
            </ul>
            <button  @click="shide()">Click Me!</button>
            
            <hr>
            
            <input type="text" name="" id="" v-model="bindMessage">
            <p>{{ bindMessage }}</p>
            
            <hr>
            
            <ul>
               <todo-list></todo-list>
            </ul>
            
         </div>
      </div>
   </div>
   
   <hr>
   
   <div id="app2" class="container">
      <h3>App2</h3>
      <ol>
         <my-kidz
            v-for="(kid, index) in kidz" :key="index"
            :pkidz="kid"
         ></my-kidz>
      </ol>
      <p>Using Mustaches: {{ rawHtml }}</p>
      <p>Using v-html dirctive:<span v-html="rawHtml"></span></p>
      
      <hr>
      <a v-bind:href="href">Link to Google</a>
      <hr>
      
      <p>this is the message {{ revMsg }}</p>
      <p>this is a reserved message {{  resMsgFnc2 }}</p>
      
   </div>
   
   <hr>
   
   <div id="app3" class="container">
      <h3>App3</h3>
      <label for="name">name:</label>
      <input type="text" id="name" v-model="person.name" value="emptyStr">
      <label for="lastname">lastname</label>
      <input type="text" id="lastname"  value="person.name">
      
      <p>VorName: {{ person.name }} </p>
      <p>Fullname: {{ thefullname }}</p>
      
      <hr>
      
      <h4>V-If</h4>
      <template v-if="passType === username">
         <div>
            <label for="username">Username</label>
            <input type="password" placeholder="Username">
            <button @click='toggleTemp'>Toggle Login Option</button>
         </div>
      </template>
      <template v-else>
         <div>
            <label for="email">Email</label>
            <input type="text" placeholder="email">
            <button @click='toggleTemp'>Toggle Login Option</button>
         </div>
      </template>
      
      <hr>
      <h4>V-FOR</h4>
      <div v-for="(item, index) in shopList" :key="index">
         {{ ++index }}. {{ item.name }} : {{ parentMsg }} : {{ testt }}
      </div> 
      <hr>
      <div v-for="item of shopList">
         {{ item.name }}
      </div>
      
   
   </div>
   
   <hr>
   
   
   <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
   <script src='index.js'></script>
   <script src='index2.js'></script>
</body>
</html>

